html, body {
    height: 100%;
}

body {
    margin: 10px;
    padding: 1px;
    background: #404040;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #ff8a0e;
}


h1, h2, h3, p, time {
    margin: 5px;
    padding: 0;
    color: #ff8a0e;
}

p, ol, ul {
    color: #ff8a0e;
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

strong { }

a {
    text-decoration: none;
    color: #404040;
    background-color: #ff8a0e;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

a:hover {
    color: #ff8a0e;
    background-color: #404040;
    text-decoration: none;
    border-color: #ff8a0e;
}

time {
    color: #999999;
}

table {
    margin: 10px;
    padding: 0px;
    width: 50%;
    border: 1px solid #333333;
    border-collapse: collapse;
}

th, td {
    text-align:center;
}

tr:nth-child(even) {
    background: #444444;
}

tr:nth-child(odd) {
    background: #333333;
}

article {
    width: 50%;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #999999;
    border-width: 1px;
}

#content {
    width: 50%;
}
